{
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 2],
        "quotes": [2, "single", "avoid-escape"],
        "linebreak-style": [2, "unix"],
        "no-unexpected-multiline": [2],
        "eqeqeq": [2, "smart"],
        "no-unreachable": 2,
        "no-console": [2, {"allow": ["error"]} ],
        "no-unused-expressions": [2, {"allowShortCircuit": true}],
        "comma-dangle": [2, "always-multiline"],
        "react/react-in-jsx-scope": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "babel/semi": [2, "never"],
        "flowtype/boolean-style": [2, "bool"],
        "flowtype/define-flow-type": [2],
        "flowtype/space-after-type-colon": [
            2,
            "always"
        ],
        "flowtype/delimiter-dangle": [2, "always-multiline"]
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": false
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "mocha": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:jsx-a11y/strict"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module",
        "ecmaVersion": 6
    },
    "plugins": ["react", "babel", "jsx-a11y", "flowtype"]
}
